

{{>responseHeader}}

     <h1>
          this is response page    
      </h1>

        <hr><hr><hr><hr>
                <h1>result is : <strong>{{result}}</strong></h1>
          <br><br><br><br>
      <a href="/"  class="btn">
         return
      </a>


      

{{>footer}}