



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/welcome.css">
    <title>Document</title>
</head>
<body>

      <main class="main"> 

           <div class="btns_area">

               <div class="btn from-top">
                     <a href="/calcute"> Clacute   </a>
               </div>
               
               <div class="btn from-left">
                    <a href="/compare">
                        Compare
                    </a>
              </div>

              <div class="btn from-right">
                    <a href="#">
                        need help
                    </a>
              </div>

              <div class="btn from-bottom">
                    <a href="#">
                         about me
                    </a>
              </div>  

           </div>

      </main>

</body>
</html>