
/*css reset */
html, body, div, input, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}


body{
    width: 100%;
    height: 100%;
    background-color: #1e272e;
}


.editorArea{

    position: absolute;
    width: 500px;
    height: 450px;
    top: 8%;
    left: 10%;
    border-radius: 9px;
}



.SendButton{

    background: black;
    color: white;
    width: 63px;
    height: 40px;
    position: absolute;
    left: 40%;
    bottom: 17px ;
    cursor: pointer;
}

.SendButton:hover{
    background-color: white ;
    color: black ;
}

.SendButton:active{

     position: absolute;
     bottom: 10px;
}


.FormArea{

    position: absolute;
    width: 700px;
    height: 64%;
    top: 14%;
    left: 12%;
}


/* coded  by AmirAhmadzadeh */
